.git
.github
.helix
.pytest_cache
.pixi
.vscode
.zed
5.+Battery+Data+Set
target
build
dist
*.egg-info
*.pyc
__pycache__
*.zip
*.so
*.pyd
*.pdf
*.docx
*.log
depletion_*.json
battery_drainage_array.json
pcoe_*.csv
pcoe_*.json
report-*.pdf
